.hero {
	background-image: url("../../../public/images/hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 164px 140px 44px 140px;
	margin-bottom: 48px;
}

.hero-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 124px;
	overflow: hidden;
}

.hero-top-left {
	flex: 7;
}
.hero-top-right {
	flex: 5;
}

.hero-top-right {
	display: flex;
	justify-content: center;
	opacity: 0;
	transform: translateX(112px);
	transition: all 500ms ease;
}


.hero h3 {
	font-size: var(--fs-300);
	text-transform: uppercase;
	color: var(--gray-clr);
	margin-bottom: 10px;
	opacity: 0;
	transition: all 500ms ease;
	transform: translateY(30px);
}

.hero-top.active h3 {
	opacity: 1;
	transform: translateY(0);
}

.hero h1 {
	font-size: var(--fs-900);
	font-weight: 400;
	line-height: 64px;
	margin-bottom: 24px;
	opacity: 0;
	transform: translateY(80px);
	transition: all 500ms ease;
}

.hero-top.active h1 {
	transform: translateY(0);
	opacity: 1;
}

.hero h1 span {
	font-weight: 700;
}

.hero-top.active a {
	opacity: 1;
	transform: translateX(0);
	transition: all 500ms ease;
}

.hero-top.active .hero-top-right {
	opacity: 1;
	transform: translateX(0);
}

.hero a {
	background-color: var(--black-clr);
	color: white;
	font-size: var(--fs-300);
	font-family: inherit;
	padding: 12px 42px;
	opacity: 0;
	transform: translateX(-80px);
	display: inline-block;
}

.hero img {
	width: auto;
	height: 250px;
	object-fit: cover;
}
