.categories {
    padding: 48px 0;
}

.categories-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.categories-top h1 {
    font-size: var(--fs-650);
    font-weight: 500;
}

.categories-top a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--fs-300);
}

.categories-items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}