.featured-books {
	padding: 48px 0;
}

.featured-books h1 {
	font-size: var(--fs-700);
	font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
}

.featured-books-categories {
    margin-bottom: 64px;
    text-align: center;
}

.featured-books-categories a {
    font-size: var(--fs-300);
    padding: 16px 0;
    color: var(--brown-clr);
    margin-right: 64px;
}

.featured-books-categories a.active {
    border-bottom: 1px solid var(--black-clr);
    color: var(--black-clr);
    font-weight: 500;
}

.featured-books-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.featured-books-items .book .book-img {
    width: 90%;
}