.hero-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.hero-controls div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--gray-clr);
	cursor: pointer;
}

.hero-controls div.active {
	background-color: var(--black-clr);
	position: relative;
}

.hero-controls div.active::after {
	content: "";
	width: 14px;
	height: 14px;
	position: absolute;
	top: -5px;
	left: -5px;
	border-radius: 50%;
	border: 2px solid var(--black-clr);
}