.authors {
	padding: 48px 0;
    position: relative;
}

.authors-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.authors-top h1 {
	font-size: var(--fs-650);
	font-weight: 500;
}

.authors-top a {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: var(--fs-300);
}

.author-items {
    display: flex;
    overflow-x: scroll;
    margin-top: 48px;
}

.author-items::-webkit-scrollbar {
	display: none;
}

.author-item {
    width: calc(100% / 5);
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
}

.author-img {
    max-width: 140px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 32px auto;
} 

.author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-item h3 {
    font-size: var(--fs-300);
    font-weight: 500;
}

.author-item p {
    font-size: var(--fs-200);
    color: var(--brown-clr);
}

.author-controls {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 96px;
    display: flex;
    justify-content: space-between;
}

.author-controls button {
    background-color: var(--white-clr);
    border: 1px solid var(--gray-clr);
    color: var(--gray-clr);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    transition: all 500ms ease;
}

.author-controls button:hover {
    background-color: var(--black-clr);
    border: 1px solid var(--black-clr);
    color: var(--white-clr);
}

@media screen and (max-width: 1200px) {
	.author-item {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) {
	.author-item {
        width: calc(100% / 2);
    }

    .author-controls {
        padding: 0 64px;
    }
}

@media screen and (max-width: 768px) {
	.author-item {
        width: 100%;
    }

    .author-controls {
        padding: 0 32px;
    }
}